In [9]:
import numpy as np
import pandas as pd

# Задание 1 
### Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [4]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
rating_with_movies = ratings.merge(movies, on='movieId') 
all_5_rat = rating_with_movies[ (rating_with_movies['rating']==5)]
max_5_rat = (all_5_rat['title'].value_counts())
max_5_rat.head(1)

Shawshank Redemption, The (1994)    48762
Name: title, dtype: int64

Не очень оптимизированно. Сначала склеил 2 таблицы , потом ими уже оперировал и несколько строк. В принцепе можно было сначала с одной таблицей это всё сделать , а потом найти нужное значение в другой по Id фильма

# Задание 2
### По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [5]:
power = pd.read_csv('power.csv') 
filtered_countries = power[( power['year'] > 2004) & ( power['year'] < 2011) & ((power['country']=='Latvia') | (power['country']=='Lietuva') | (power['country']=='Eesti')) & ((power['category'] == 4) | (power['category'] == 12) | (power['category'] == 21)   )   ]
baltic_quantity =  filtered_countries['quantity'].sum()
print(f"Потребление стран Прибалтики с 2005 по 2010 год в ктегориях 4, 12 , 21 составляет:{baltic_quantity} ")
filtered_countries.head(92)

Потребление стран Прибалтики с 2005 по 2010 год в ктегориях 4, 12 , 21 составляет:54844.0

       country  year  quantity  category
14647   Latvia  2010       0.0         4
14648   Latvia  2009       0.0         4
14649   Latvia  2008       0.0         4
14650   Latvia  2007       0.0         4
20482   Latvia  2010       0.0         4
...        ...   ...       ...       ...
253963  Latvia  2009      32.0        21
253964  Latvia  2008      28.0        21
253965  Latvia  2007      26.0        21
253966  Latvia  2006      27.0        21
253967  Latvia  2005      27.0        21

[92 rows x 4 columns]

# Задание 3
### Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
### Примеры страниц (необязательно брать именно эти):
#### https://fortrader.org/quotes
#### https://www.finanz.ru/valyuty/v-realnom-vremeni

In [6]:
page_url = "https://www.finanz.ru/valyuty/v-realnom-vremeni"
df = pd.read_html(page_url, attrs = {'class': 'header_user_pricebox'}, encoding='utf-8')

In [7]:
df[0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,2 911,"0,5%",Nasdaq,10 854,"-0,6%",Биткойн,10 360,"-0,4%",USD/RUB,750120,"-0,2%"
1,РТС,1 223,"0,5%",S&P500,3 341,"0,1%",Нефть,399,"0,5%",EUR/RUB,887275,"-0,1%"
2,Dow,27 666,"0,5%",FTSE100,6 032,"0,5%",Золото,1 940,"-0,3%",EUR/USD,11843,"0,2%"

К первой ссылке у меня есть вопросы , т.к. там не было table class

Что делать в таких случаях?