## Классификация картинок

In [1]:
import pandas as pd
from sklearn.datasets import load_digits

In [2]:
data = load_digits()

In [3]:
data.keys()

dict_keys(['data', 'target', 'frame', 'feature_names', 'target_names', 'images', 'DESCR'])

In [4]:
# описание данных
for line in data['DESCR'].split('\n'):
    print( line )

.. _digits_dataset:

Optical recognition of handwritten digits dataset
--------------------------------------------------

**Data Set Characteristics:**

    :Number of Instances: 5620
    :Number of Attributes: 64
    :Attribute Information: 8x8 image of integer pixels in the range 0..16.
    :Missing Attribute Values: None
    :Creator: E. Alpaydin (alpaydin '@' boun.edu.tr)
    :Date: July; 1998

This is a copy of the test set of the UCI ML hand-written digits datasets
https://archive.ics.uci.edu/ml/datasets/Optical+Recognition+of+Handwritten+Digits

The data set contains images of hand-written digits: 10 classes where
each class refers to a digit.

Preprocessing programs made available by NIST were used to extract
normalized bitmaps of handwritten digits from a preprinted form. From a
total of 43 people, 30 contributed to the training set and different 13
to the test set. 32x32 bitmaps are divided into nonoverlapping blocks of
4x4 and the number of on pixels are counted in each block. This generates
an input matrix of 8x8 where each element is an integer in the range
0..16. This reduces dimensionality and gives invariance to small
distortions.

For info on NIST preprocessing routines, see M. D. Garris, J. L. Blue, G.
T. Candela, D. L. Dimmick, J. Geist, P. J. Grother, S. A. Janet, and C.
L. Wilson, NIST Form-Based Handprint Recognition System, NISTIR 5469,
1994.

.. topic:: References

  - C. Kaynak (1995) Methods of Combining Multiple Classifiers and Their
    Applications to Handwritten Digit Recognition, MSc Thesis, Institute of
    Graduate Studies in Science and Engineering, Bogazici University.
  - E. Alpaydin, C. Kaynak (1998) Cascading Classifiers, Kybernetika.
  - Ken Tang and Ponnuthurai N. Suganthan and Xi Yao and A. Kai Qin.
    Linear dimensionalityreduction using relevance weighted LDA. School of
    Electrical and Electronic Engineering Nanyang Technological University.
    2005.
  - Claudio Gentile. A New Approximate Maximal Margin Classification
    Algorithm. NIPS. 2000.

In [5]:
# закодированные признаки

X = pd.DataFrame( data['data'] )
X.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [6]:
# целевая переменная - цифра от 0 до 9

Y = pd.Series( data['target'] )
Y.head()

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [7]:
Y.tail()

1792    9
1793    0
1794    8
1795    9
1796    8
dtype: int32

In [8]:
Ydummy = pd.get_dummies( Y )
Ydummy.head()

   0  1  2  3  4  5  6  7  8  9
0  1  0  0  0  0  0  0  0  0  0
1  0  1  0  0  0  0  0  0  0  0
2  0  0  1  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split( X, Ydummy, test_size = 0.3, random_state = 0 )

In [11]:
from sklearn.tree import DecisionTreeClassifier

In [12]:
# зададим пока одно значение параметра модели max_depth
depth = 5

In [13]:
from sklearn.model_selection import cross_val_score

In [14]:
cross_val_score( DecisionTreeClassifier( max_depth = depth ), X, Ydummy, cv = 5, scoring = 'accuracy' )

array([0.44444444, 0.37222222, 0.50696379, 0.63788301, 0.50696379])

In [15]:
from sklearn.model_selection import GridSearchCV

In [16]:
params = [ {'max_depth': list( range(1, 20) )} ]

In [17]:
gs = GridSearchCV( DecisionTreeClassifier(), param_grid = params, scoring = 'accuracy', return_train_score = False )

In [18]:
gs.fit( X, Ydummy )

GridSearchCV(estimator=DecisionTreeClassifier(),
             param_grid=[{'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,
                                        13, 14, 15, 16, 17, 18, 19]}],
             scoring='accuracy')

In [19]:
gs.cv_results_

{'mean_fit_time': array([0.0134027 , 0.01940417, 0.02580886, 0.03240709, 0.03860655,
        0.0434123 , 0.04801087, 0.05101161, 0.05421214, 0.05461206,
        0.05661268, 0.05841312, 0.05861301, 0.05852013, 0.05921698,
        0.05981326, 0.05821309, 0.05881348, 0.05962014]),
 'std_fit_time': array([0.00048978, 0.00049008, 0.00097481, 0.00049023, 0.001626  ,
        0.00079538, 0.00126505, 0.00109558, 0.0022276 , 0.00149705,
        0.00205946, 0.00241721, 0.00215461, 0.002278  , 0.00204656,
        0.00222771, 0.00132704, 0.0018333 , 0.00136163]),
 'mean_score_time': array([0.00320067, 0.00320091, 0.00380054, 0.00340095, 0.00340295,
        0.00319929, 0.00340056, 0.00300055, 0.00380082, 0.00360103,
        0.00300078, 0.00363774, 0.00400114, 0.00380077, 0.00440083,
        0.0038012 , 0.00420084, 0.00480084, 0.00460119]),
 'std_score_time': array([4.00352506e-04, 4.00352563e-04, 4.00137940e-04, 4.90154542e-04,
        8.04781947e-04, 4.01055497e-04, 4.89979265e-04, 2.78041453e-07,
        4.00161772e-04, 4.89940362e-04, 3.50402318e-07, 4.48415808e-04,
        3.98950589e-07, 7.48748780e-04, 4.89998722e-04, 7.48290004e-04,
        7.48226298e-04, 7.48659644e-04, 8.00168576e-04]),
 'param_max_depth': masked_array(data=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,
                    17, 18, 19],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'max_depth': 1},
  {'max_depth': 2},
  {'max_depth': 3},
  {'max_depth': 4},
  {'max_depth': 5},
  {'max_depth': 6},
  {'max_depth': 7},
  {'max_depth': 8},
  {'max_depth': 9},
  {'max_depth': 10},
  {'max_depth': 11},
  {'max_depth': 12},
  {'max_depth': 13},
  {'max_depth': 14},
  {'max_depth': 15},
  {'max_depth': 16},
  {'max_depth': 17},
  {'max_depth': 18},
  {'max_depth': 19}],
 'split0_test_score': array([0.10555556, 0.12777778, 0.33611111, 0.43055556, 0.44722222,
        0.63611111, 0.71111111, 0.72777778, 0.73611111, 0.76388889,
        0.74722222, 0.76388889, 0.75277778, 0.78055556, 0.77222222,
        0.75833333, 0.75      , 0.75833333, 0.75      ]),
 'split1_test_score': array([0.09722222, 0.11388889, 0.3       , 0.35      , 0.36944444,
        0.56388889, 0.68333333, 0.69166667, 0.72777778, 0.73611111,
        0.71388889, 0.74722222, 0.725     , 0.725     , 0.74722222,
        0.74722222, 0.71388889, 0.725     , 0.70833333]),
 'split2_test_score': array([0.09192201, 0.11977716, 0.39275766, 0.47910864, 0.50417827,
        0.66852368, 0.77994429, 0.80222841, 0.79387187, 0.78272981,
        0.7994429 , 0.80779944, 0.81058496, 0.80779944, 0.80501393,
        0.80222841, 0.80779944, 0.79387187, 0.79387187]),
 'split3_test_score': array([0.09470752, 0.12256267, 0.30640669, 0.45961003, 0.63788301,
        0.76880223, 0.78272981, 0.83008357, 0.83008357, 0.83844011,
        0.86072423, 0.8551532 , 0.84679666, 0.85236769, 0.84679666,
        0.84122563, 0.83844011, 0.8551532 , 0.84122563]),
 'split4_test_score': array([0.09470752, 0.20891365, 0.22562674, 0.38718663, 0.51253482,
        0.6908078 , 0.74094708, 0.78272981, 0.77994429, 0.78272981,
        0.77715877, 0.79665738, 0.78551532, 0.79387187, 0.78551532,
        0.78830084, 0.78551532, 0.78830084, 0.78551532]),
 'mean_test_score': array([0.09682297, 0.13858403, 0.31218044, 0.42129217, 0.49425255,
        0.66562674, 0.73961312, 0.76689725, 0.77355772, 0.78077994,
        0.7796874 , 0.79414423, 0.78413494, 0.79191891, 0.79135407,
        0.78746209, 0.77912875, 0.78413185, 0.77578923]),
 'std_test_score': array([0.00467733, 0.0354493 , 0.05429292, 0.04720715, 0.08814917,
        0.06709608, 0.03864508, 0.05036158, 0.03780655, 0.03350496,
        0.04969321, 0.03750183, 0.0426807 , 0.04127306, 0.03349093,
        0.0333976 , 0.04355539, 0.04317041, 0.04453961]),
 'rank_test_score': array([19, 18, 17, 16, 15, 14, 13, 12, 11,  7,  8,  1,  5,  2,  3,  4,  9,
         6, 10])}

In [20]:
gs.best_params_

{'max_depth': 12}